/* 置中 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 底 */
header {
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
}

/* 影片 */
.hd-video {
    display: flex;
    width: 100vw;
    margin: 0 auto;
}

/* 滑桿 */
body::-webkit-scrollbar {
    display: none;
}

/* 主視 */
.btn {
    position: absolute;
}

.btn img {
    width: 35px;
    height: 60px;
    top: 10px;
    left: 20px;
}


/* 關於我 */
.bt1 {
    position: absolute;
    top: 25px;
    left: 150px;
    color: rgb(207, 207, 207);
    /* Set the initial text color to white */
    text-decoration: none;
    /* Remove the default underline */
}

.bt1:hover {
    color: white;
    text-decoration: underline;
    /* Add underline on hover */
}

/* 平面 */
.bt2 {
    position: absolute;
    top: 25px;
    left: 250px;
    color: rgb(207, 207, 207);
    /* Set the initial text color to white */
    text-decoration: none;
    /* Remove the default underline */
}

.bt2:hover {
    color: white;
    text-decoration: underline;
    /* Add underline on hover */
}

/* 影片 */
.bt3 {
    position: absolute;
    top: 25px;
    left: 350px;
    color: rgb(207, 207, 207);
    /* Set the initial text color to white */
    text-decoration: none;
    /* Remove the default underline */
}

.bt3:hover {
    color: white;
    text-decoration: underline;
    /* Add underline on hover */
}




/* 最上面那塊 */
.st {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    /* Increase the z-index value */
}

.hd-video {


    display: flex;
    width: 100vw;
    margin: 0 auto;
    z-index: 0;
    /* Decrease the z-index value */
}

/* 字幕動畫 */
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

/* 介紹 */
.subtitle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fade-in 3s ease-in;
    color: aliceblue;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

/* 字體 */
.f {
    font-family: 'Kablammo', cursive;
    font-family: 'Russo One', sans-serif;
}